.header {
  background: url("../assets/rave-pic-1.jpg") center/cover no-repeat;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.header__body {
  height: 70%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  padding: 0 0 120px 120px;
}

.header__container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  z-index: 2;
  color: #fff;
}

.header__title {
  margin: 0;
  font-size: 80px;
}

.header__title-span {
  display: block;
}

.header__text {
  margin: 25px 0 0;
  font-size: 30px;
  max-width: max-content;
}

.header__text-span {
  display: block;
}

.header__form-button {
  margin: 40px 0 0;
  width: 320px;
  color: white;
  font-size: 36px;
  padding: 25px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #955af3;
  transition: transform 0.2s ease;
}

.header__form-button:hover {
  opacity: 0.95;
  transform: scale(1.05);
}

@media screen and (max-width: 875px) {
  .header {
    height: 600px;
    background-size: cover;
  }

  .header__body {
    padding: 0;
  }

  .header__title {
    margin: 90px 40px 0;
    font-size: 40px;
  }

  .header__text {
    margin: 30px 40px 0;
    font-size: 25px;
  }

  .header__form-button {
    padding: 20px 25px;
    width: 280px;
    font-size: 30px;
    margin: 50px 40px 0;
  }
}

@media screen and (max-width: 675px) {
  .header__title {
    font-size: 35px;
    text-align: center;
    padding: 0 15px;
  }

  .header__text {
    font-size: 18px;
    text-align: center;
    margin: 30px auto 0;
    padding: 0 15px;
  }

  .header__form-button {
    padding: 15px 20px;
    width: 230px;
    font-size: 25px;
    margin: 50px auto 0;
  }
}
