.search-results {
  display: flex;
  flex-direction: column;
}

.results__button {
  width: 288px;
  height: 64px;
  font-size: 20px;
  border-radius: 80px;
  border: none;
  margin: 65px auto 85px;
  cursor: pointer;
  background-color: #00a8ff;
  color: #fff;
  padding: 0;
}
