.modal__title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  /*font-family: "Cabinet Grotesk", sans-serif;*/
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__submit-button-discover {
  max-width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  color: #b6bcbf;
  background-color: #e6e8eb;
  margin: 24px 0 28px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
}

.modal__submit-button-login {
  max-width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  color: #b6bcbf;
  background-color: #e6e8eb;
  margin: 24px 0 28px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
}

.modal__submit-button-register {
  max-width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  color: #b6bcbf;
  background-color: #e6e8eb;
  margin: 24px 0 28px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
}

.modal__submit-button_active {
}
