.nav {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  padding: 0 15px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.nav__logo {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.nav__date {
  margin: 0 auto 0 0;
  font-size: 20px;
}

.nav__link {
  margin: 0 20px 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav__profile-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__name {
  margin: 0 20px 0 0;
  font-size: 20px;
  cursor: pointer;
}

.nav__avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav__login-button {
  margin: 0 20px 0 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}

.nav__register-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}
