.nav {
  display: flex;
  align-items: center;
  padding: 15px 0 0;
  margin: 0 60px 0;
  font-size: 18px;
}

.nav__logo {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.nav__date {
  margin: 0 auto 0 0;

  color: #fff;
}

.nav__link {
  margin: 0 20px 0 0;
  color: #fff;
  text-decoration: none;
}

.nav__profile-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__name {
  margin: 0 20px 0 0;

  cursor: pointer;
}

.nav__avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
}

.nav__login-button {
  margin: 0 20px 0 0;
  background: none;
  border: none;
  color: #fff;

  cursor: pointer;
}

.nav__register-button {
  background: none;
  border: none;
  color: #fff;

  cursor: pointer;
}

.nav__logout-button {
  background: url("../assets/logout.svg") center no-repeat;
  background-color: #fff;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav__menu {
  display: none;
}

.nav__border {
  display: block;
  width: 100%;
  border-bottom: 1px solid #fff;
  opacity: 0.4;
  margin-bottom: 50px;
}

@media screen and (max-width: 935px) {
  .nav {
    margin: 0 40px 0;
  }
}

@media screen and (max-width: 620px) {
  .nav__date,
  .nav__link,
  .nav__profile-link,
  .nav__name,
  .nav__avatar,
  .nav__login-button,
  .nav__register-button,
  .nav__logout-button {
    display: none;
  }

  .nav__menu {
    display: block;
    background: url("../assets/nav-menu.svg") center no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    padding: 15px 15px 0;
    margin: 0;
  }
}
