.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 80px;
  height: 60px;
  margin-right: 25px;
}

.nav__date {
  margin: 0 auto 0 0;
  font-size: 20px;
}

.nav__link {
  margin: 0 20px 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav__profile-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__name {
  margin: 0 20px 0 0;
  font-size: 20px;
  cursor: pointer;
}

.nav__avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
