.profile__content {
  padding: 0 60px;
}

.profile__title {
  color: #fff;
  font-size: 40px;
  line-height: 1.15;
}

@media screen and (max-width: 450px) {
  .profile__content {
    padding: 0 15px;
  }
}
