.profile__content {
  padding: 0 60px;
}

.profile__title {
  color: #fff;
  font-size: 40px;
  line-height: 1.15;
  margin-bottom: 50px;
}

.profile__text {
  color: #fff;
}

@media screen and (max-width: 745px) {
  .profile__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .profile__content {
    padding: 0 15px;
  }

  .profile__title {
    font-size: 20px;
    text-align: center;
  }
}
